body {
  max-width: 1500px;
  margin: 0 auto;
  min-height:100vh;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
}

img {
width: 100%;
border-radius: 2%;
}

h1 {
  text-align: left;
}

.top-title {
  line-height: 0px;
  padding-top: 15px;
  color: black;
}

.bg {
  height: 100vh;
  display: flex;
  align-items: center;
}

p {
  align-items: center;
  line-height: 30px;
  color:black;
  font-family: 'Montserrat', 'Open Sans', 'Proxima Nova';
  font-size: 14px;

}

.container {
  height: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
  color:#63abac;
  text-decoration-line: underline;
}

a:hover {
  color: #508283;
}


.top-title {
  font-size:50px; color:black; font-weight:bold; text-align:left; font-family: 'Quicksand', 'Open Sans', 'Proxima Nova'; font-size: 27px; letter-spacing: -1px;
}

.a-place {
  padding-bottom: 0px; font-size:16px; padding-right: 45px;
}

.bold-title {
  font-weight: bold;
}

.bold-title2 {
  font-weight: bold;
  color:#f2cab3;
}


@media (prefers-color-scheme: light) {
    /* CSS here */
}


@media only screen and (max-width: 900px) {
  body {
    display: block;
    align-items: center;
  }

  img {
    margin-bottom: 20px;
  }

  p {
    text-align: center;
  }

  .top-title {
    text-align: center;
  }

  .a-place {
    padding-right: 0px;
  }
